/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 103px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  body {
    padding-top: 167px;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 167px;
  }
}
body.menu-open {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.view-block {
  width: 109px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.view-block__btn {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #3771c8;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;
  background-color: transparent;
}
.view-block__btn::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 109px;
  height: 6px;
  border: 1px solid #f9d15c;
  border-radius: 280px;
}
.view-block__btn:hover, .view-block__btn:focus {
  transform: scale(1.05);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.04);
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header {
    padding-top: 20px;
  }
}
.header__link {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .header__link {
    font-size: 36px;
    align-items: baseline;
  }
}
.header__link:hover, .header__link:focus {
  transform: scale(1.05);
}
.header__img {
  width: 32px;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .header__img {
    width: 52px;
  }
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.menu-btn:hover .menu-btn__svg, .menu-btn:focus .menu-btn__svg {
  fill: #3771c8;
}
.menu-btn.is-open {
  z-index: 1;
}
.menu-btn__svg {
  width: 80px;
  height: 80px;
  fill: #000000;
}
.menu-btn.is-open .menu-btn__svg-burger {
  display: none;
}
.menu-btn__svg-cross {
  display: none;
}
.menu-btn.is-open .menu-btn__svg-cross {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1320px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1320px) {
  .menu-box {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .menu-box {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    border-left: 1px solid #ccc;
    transform: translateX(100%);
    transition: transform 250ms linear, opacity 250ms linear;
    background-color: #f9d15c;
  }
}
@media screen and (max-width: 767px) {
  .menu-box.is-open {
    opacity: 1;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.header-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }
}

.header-list {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header-list {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1320px) {
  .header-list {
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .header-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.header-list__item:not(:last-child) {
  margin-right: 40px;
}
.header-list__link {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #222222;
}
@media screen and (max-width: 767px) {
  .header-list__link {
    font-size: 32px;
  }
}
.header-list__link:hover, .header-list__link:focus {
  transform: scale(1.05);
}
.header-list__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms linear;
  background-color: #3771c8;
}
.header-list__link:hover::before, .header-list__link:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-rightblock {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header-rightblock {
    justify-content: end;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header-rightblock {
    justify-content: center;
  }
}
.header-rightblock__menu {
  margin-right: 24px;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear, fill 250ms linear;
  background-color: transparent;
}
.header-rightblock__menu:hover, .header-rightblock__menu:focus {
  transform: scale(1.1);
}
.header-rightblock__menu:hover .header-rightblock__svg, .header-rightblock__menu:focus .header-rightblock__svg {
  fill: #3771c8;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header-rightblock__menu {
    margin-right: 0;
  }
}
.header-rightblock__svg {
  fill: #000000;
}
@media screen and (max-width: 767px) {
  .header-rightblock__svg {
    width: 38px;
    height: 38px;
  }
}
.header-rightblock__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  border: 1px solid #999999;
  border-radius: 35px;
  padding: 10px 22px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  color: #100f2e;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .header-rightblock__btn {
    font-size: 32px;
  }
}
.header-rightblock__btn:hover, .header-rightblock__btn:focus {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .header-rightblock__btn:hover, .header-rightblock__btn:focus {
    background-color: #3771c8;
    color: #ffffff;
  }
}

.hero {
  padding-bottom: 120px;
  padding-top: 100px;
}

.hero-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hero-leftblock {
  max-width: 646px;
}
.hero-leftblock__title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.33;
  margin-bottom: 30px;
  color: #000000;
}
.hero-leftblock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  max-width: 476px;
}

.hero-rightblock {
  min-width: 500px;
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.04);
  border-radius: 20px;
  padding: 20px 50px;
}

.form-box {
  position: relative;
}
.form-box--margin {
  margin-right: 24px;
}
.form-box__input {
  width: 218px;
  height: 56px;
  border-radius: 8px;
  border: transparent;
  padding: 12px 10px 12px 54px;
  background-color: #fafafa;
}
.form-box__input--width {
  width: 460px;
  padding: 12px 60px 12px 54px;
}
.form-box__svg {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.form-box__btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  padding: 16px;
  border: transparent;
  cursor: pointer;
  width: 56px;
  height: 56px;
  background-color: #3771c8;
}
.form-box__btn:hover, .form-box__btn:focus {
  background-color: rgba(55, 113, 200, 0.9137254902);
}

.underblock-position {
  position: relative;
}

.hero-underblock {
  display: flex;
}
.hero-underblock__text {
  position: absolute;
  bottom: 51px;
  left: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  color: #ffffff;
}
.hero-underblock__img {
  width: 308px;
}
.hero-underblock__img:not(:last-child) {
  margin-bottom: 16px;
}
.hero-underblock__img--one {
  width: 956px;
}

.underblock-wrap {
  margin-left: 16px;
}

.service {
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .service {
    padding-bottom: 80px;
  }
}

.service-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .service-flex {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .service-flex {
    margin-bottom: 60px;
    flex-direction: column;
  }
}

.service-leftblock {
  max-width: 605px;
}
.service-leftblock__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 16px;
  color: #000000;
}
.service-leftblock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.service-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .service-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .service-list {
    flex-direction: column;
    align-items: center;
  }
}
.service-list__item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 21px 21px 50px 21px;
  transform: scale(1);
  transition: transform 250ms linear, box-shadow 250ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .service-list__item:not(:last-child) {
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1320px) {
  .service-list__item:not(:last-child) {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1320px) {
  .service-list__item {
    max-width: 308px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .service-list__item {
    width: calc((100% - 30px - 30px) / 2);
    margin: 15px;
    max-width: 308px;
  }
}
@media screen and (max-width: 767px) {
  .service-list__item {
    width: 400px;
  }
}
.service-list__item:hover, .service-list__item:focus {
  transform: scale(1.01);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
}
.service-list__svg {
  margin-bottom: 42px;
}
.service-list__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
  text-align: center;
  color: #222222;
}
.service-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  width: 278px;
  color: #666666;
}
@media screen and (max-width: 767px) {
  .service-list__text {
    max-width: 300px;
  }
}

.finest {
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .finest {
    padding-bottom: 60px;
  }
}

.finest-content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .finest-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .finest-content {
    flex-direction: column;
    gap: 20px;
  }
}

.finest-leftblock__img {
  width: 628px;
}
@media screen and (max-width: 767px) {
  .finest-leftblock__img {
    width: 440px;
  }
}

.finest-rightblock {
  max-width: 586px;
}
.finest-rightblock__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 20px;
  max-width: 405px;
  color: #222222;
}
.finest-rightblock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 40px;
  max-width: 586px;
}

.rightblock-list {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .rightblock-list {
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
.rightblock-list__item {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .rightblock-list__item {
    width: calc((100% - 30px - 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1320px) {
  .rightblock-list__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .rightblock-list__item:not(:last-child) {
    margin-right: 60px;
  }
}
.rightblock-list__span {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.53;
  margin-bottom: 16px;
  color: #222222;
}
.rightblock-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #222222;
}
.rightblock-list__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  border: transparent;
  padding: 16px 32px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  color: #ffffff;
  background-color: #3771c8;
}
.rightblock-list__btn:hover, .rightblock-list__btn:focus {
  transform: scale(1.05);
  background-color: rgba(55, 113, 200, 0.9137254902);
}

.company {
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .company {
    padding-bottom: 60px;
  }
}

.company-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .company-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .company-list {
    flex-wrap: wrap;
    margin: -15px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .company-list__item {
    margin: 15px;
    width: calc((100% - 30px - 30px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .company-list__item {
    margin: 15px;
    width: calc((100% - 30px - 30px) / 2);
  }
}
@media screen and (min-width: 1320px) {
  .company-list__item:not(:last-child) {
    margin-right: 90px;
  }
}
.company-list__link {
  display: block;
  transform: scale(1);
  transition: transform 250ms linear;
}
.company-list__link:hover, .company-list__link:focus {
  transform: scale(1.1);
}

.reviews {
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 60px;
  }
}

.reviews-content {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .reviews-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .reviews-content {
    flex-direction: column;
  }
}

.reviews-leftblock__img {
  flex-basis: 0;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .reviews-leftblock__img {
    border-radius: 12px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-leftblock__img {
    border-radius: 12px;
  }
}

.rightblock-content {
  padding: 42px 71px;
  text-align: center;
}

.reviews-rightblock {
  flex: 1;
  background-color: #f9d15c;
}
@media screen and (min-width: 1320px) {
  .reviews-rightblock {
    border-radius: 0 12px 12px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .reviews-rightblock {
    border-radius: 12px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-rightblock {
    border-radius: 12px;
  }
}
.reviews-rightblock__img {
  width: 62px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-rightblock__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 23px;
}
.reviews-rightblock__text {
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2;
  max-width: 498px;
  margin-bottom: 44px;
  color: #222222;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .reviews-rightblock__text {
    max-width: 588px;
  }
}
.reviews-rightblock__span {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  border: 2px solid #3771c8;
  background-color: #3771c8;
}
.reviews-rightblock__span::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  border-radius: 2px;
  left: 100%;
  margin-left: 6px;
  border: 2px solid rgba(55, 113, 200, 0.28);
  background-color: rgba(55, 113, 200, 0.28);
}
.reviews-rightblock__span::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  border-radius: 2px;
  right: 100%;
  margin-right: 6px;
  border: 2px solid rgba(55, 113, 200, 0.28);
  background-color: rgba(55, 113, 200, 0.28);
}

.hotels {
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .hotels {
    padding-bottom: 100px;
  }
}
.hotels__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #000000;
}
.hotels__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 20px;
  max-width: 409px;
}
.hotels__flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .hotels__flex {
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .hotels__flex {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: end;
  }
}

.hotels-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hotels-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .hotels-list__item {
    margin: 15px;
    width: calc((100% - 30px - 30px) / 3);
  }
}
@media screen and (min-width: 1320px) {
  .hotels-list__item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .hotels-list__item:not(:last-child) {
    margin-right: 40px;
  }
}
.hotels-list__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hotels-list__span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 28px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  transform: scale(1);
  transition: transform 250ms linear, border 250ms linear, background-color 250ms linear, color 250ms linear;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .hotels-list__span {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .hotels-list__span {
    text-align: center;
  }
}
.hotels-list__span:hover, .hotels-list__span:focus {
  transform: scale(1.05);
  border: 1px solid #505050;
}
.hotels-list .hotels-list__input:checked ~ .hotels-list__span {
  color: #ffffff;
  background-color: #3771c8;
}

.downblock-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .downblock-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .downblock-list {
    flex-direction: column;
    gap: 30px;
  }
}
.downblock-list__content {
  padding: 20px;
}
.downblock-list__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.downblock-list__item {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  transform: scale(1);
  transition: transform 250ms linear, box-shadow 250ms linear;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .downblock-list__item {
    margin: 15px;
    width: calc((100% - 30px - 30px) / 2);
  }
}
.downblock-list__item:hover, .downblock-list__item:focus {
  transform: scale(1.02);
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.04);
}
@media screen and (min-width: 1320px) {
  .downblock-list__item:not(:last-child) {
    margin-right: 24px;
  }
}
.downblock-list__img {
  width: 411px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .downblock-list__img {
    width: 348px;
  }
}
@media screen and (max-width: 767px) {
  .downblock-list__img {
    width: 438px;
  }
}
.downblock-list__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #222222;
}
.downblock-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  max-width: 338px;
  color: #555555;
}

.downblock-list-down {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}
.downblock-list-down__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}
.downblock-list-down__text--span {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #3771c8;
}
.downblock-list-down__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  color: #ffffff;
  background-color: #3771c8;
}
.downblock-list-down__btn:hover, .downblock-list-down__btn:focus {
  transform: scale(1.05);
  background-color: rgba(55, 113, 200, 0.8196078431);
}

.subscribe {
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .subscribe {
    padding-bottom: 60px;
  }
}

.subscribe-content {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #eaeceb;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .subscribe-content {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1320px) {
  .subscribe-content {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-content {
    justify-content: center;
    padding: 20px;
  }
}

.subscribe-leftblock {
  max-width: 701px;
  margin-left: 74px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .subscribe-leftblock {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-leftblock {
    margin-left: 0;
  }
}
.subscribe-leftblock__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 20px;
  color: #222222;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .subscribe-leftblock__title {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-leftblock__title {
    max-width: 400px;
  }
}
.subscribe-leftblock__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  max-width: 536px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .subscribe-leftblock__text {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-leftblock__text {
    max-width: 400px;
  }
}

.subscribe-rightblock__img {
  width: 383px;
}
@media screen and (max-width: 767px) {
  .subscribe-rightblock__img {
    display: none;
  }
}

.subscribe-form {
  margin-top: 92px;
  max-width: 486px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .subscribe-form {
    max-width: 350px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-form {
    margin-top: 50px;
    max-width: 400px;
  }
}
.subscribe-form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  padding: 14px 26px;
  border: transparent;
  width: 400px;
  border-radius: 25px;
  background-color: transparent;
}
.subscribe-form__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border: transparent;
  padding: 16px 32px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 250ms linear;
  color: #ffffff;
  background-color: #3771c8;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: rgba(55, 113, 200, 0.7882352941);
}

.footer {
  padding-bottom: 63px;
}

.footer-content {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .footer-content {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1320px) {
  .footer-content {
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .footer-content {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer-leftblock__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  max-width: 93px;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #000000;
}
.footer-leftblock__link:hover, .footer-leftblock__link:focus {
  transform: scale(1.05);
}
.footer-leftblock__img {
  width: 32px;
  margin-right: 9.5px;
}
.footer-leftblock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .footer-leftblock__text {
    max-width: 226px;
  }
}

.footer-list {
  display: flex;
}
.footer-list__item:not(:last-child) {
  margin-right: 30px;
}
.footer-list__img {
  width: 16px;
}
.footer-list__link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms linear;
}
.footer-list__link:hover, .footer-list__link:focus {
  background-color: rgba(55, 113, 200, 0.0980392157);
}

.footer-rightblock-list {
  display: flex;
}
.footer-rightblock-list__item:not(:last-child) {
  margin-right: 165px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .footer-rightblock-list__item:not(:last-child) {
    margin-right: 80px;
  }
}
@media screen and (max-width: 767px) {
  .footer-rightblock-list__item:not(:last-child) {
    margin-right: 60px;
  }
}
.footer-rightblock-list__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #222222;
}

.footer-rightblock-secondlist {
  margin-top: 16px;
}
.footer-rightblock-secondlist__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-rightblock-secondlist__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #222222;
}
.footer-rightblock-secondlist__link:hover,
.footer-rightblock-secondlist__link :focus {
  transform: scale(1.05);
}
.footer-rightblock-secondlist__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 250ms linear;
  background-color: #3771c8;
}
.footer-rightblock-secondlist__link:hover::before, .footer-rightblock-secondlist__link:focus::after {
  transform-origin: bottom right;
  transform: scaleX(1);
}/*# sourceMappingURL=main.css.map */