body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 103px;

  background-color: $main-bgc;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.view-block {
  width: 109px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.view-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: $accent;
}

.view-span {
  display: block;
  width: 109px;
  height: 6px;
  border: 1px solid #f9d15c;
  border-radius: 280px;
}
