$main-bgc: #ffffff;
$second-bgc: #eaeceb;
$yellow-bgc: #f9d15c;

$accent: #3771c8;

$main-text: #555555;
$second-text: #222222;
$black-text: #000000;
$white-text: #ffffff;
$text-666: #666666;
$btn-text: #100f2e;
